<div class="row">
	<div class="col-md-12">
    
    	<!------CONTROL TABS START------>
		<ul class="nav nav-tabs bordered">

			<li class="active">
            	<a href="#list" data-toggle="tab"><i class="entypo-user"></i> 
					Gerenciar perfil                    	</a></li>
		</ul>
    	<!------CONTROL TABS END------>
        
	
		<div class="tab-content">
        	<!----EDITING FORM STARTS---->
			<div class="tab-pane box active" id="list" style="padding: 5px">
                <div class="box-content">
					
Notice: Undefined variable: edit_data in C:\xampp\htdocs\sistema\application\views\backend\admin\manage_profile.php on line 20

Warning: Invalid argument supplied for foreach() in C:\xampp\htdocs\sistema\application\views\backend\admin\manage_profile.php on line 20
                </div>
			</div>
            <!----EDITING FORM ENDS-->
            
		</div>
	</div>
</div>


<!--password-->
<div class="row">
	<div class="col-md-12">
    
    	<!------CONTROL TABS START------->
		<ul class="nav nav-tabs bordered">

			<li class="active">
            	<a href="#list" data-toggle="tab"><i class="entypo-lock"></i> 
					Alterar a senha                    	</a></li>
		</ul>
    	<!------CONTROL TABS END------->
        
	
		<div class="tab-content">
        	<!----EDITING FORM STARTS---->
			<div class="tab-pane box active" id="list" style="padding: 5px">
                <div class="box-content padded">
					
Notice: Undefined variable: edit_data in C:\xampp\htdocs\sistema\application\views\backend\admin\manage_profile.php on line 97

Warning: Invalid argument supplied for foreach() in C:\xampp\htdocs\sistema\application\views\backend\admin\manage_profile.php on line 97
                </div>
			</div>
            <!----EDITING FORM ENDS--->
            
		</div>
	</div>
</div>